{% extends "base.html" %}
{% load i18n staticfiles mezzanine_tags blog_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title_wrapper%}
{% endblock %}
{% block all_content %}
{% block left_wrapper%}
{% endblock %}

{% block main_wrapper%}

{% endblock %}

{% block right_wrapper%}
{% endblock %}


	 <div id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 style="text-align: center; margin-top: 5%">#GiveByDoing </h1>
                    <h5 style="color:green; text-align: center">3 Stories, 3 Resolutions, 1 Goal</h5>
                </div>
            </div><!-- /row -->
 			<div class="row centered">
 				<div class="col-md-4">
 					<h1>Aloysius & Daddy (Kagan)</h1>
                    
                    <i class="fa fa-cogs"></i>
                    <h4>DESIGN AND COLLABORATE ON ASSISTIVE TECHNOLOGY PRODUCTS FOR PEOPLE WITH DISABILITIES.</h4>
 					<p>Anyone can be a maker. Whether you're a hobbyist, professional, student, or a person with a disability, join a project and help create a product that changes lives.</p>
 					<p><br/><a href="/blog/category/projects" class="btn btn-theme">Find out more</a></p>
 				</div>
                <div class="col-md-4">
                    <i class="fa fa-heartbeat"></i>
                    <h1>SHARE</h1>
                    <h4>SHARE THE PROBLEMS YOU FACE OR SEE OTHERS FACING, AND SHARE YOUR IDEAS.</h4>
                    <p>As a person with any form of disability or someone involved in the space, have your voice heard by people who care. Find others who feel the same, and work with them to build solutions to your problems.</p>
                    <p><br/><a href="http://voices.theseabilities.com" class="btn btn-theme">Contribute your thoughts</a></p>
                </div>
 				<div class="col-md-4">
 					<i class="fa fa-heartbeat"></i>
 					<h1>SHARE</h1>
                    <h4>SHARE THE PROBLEMS YOU FACE OR SEE OTHERS FACING, AND SHARE YOUR IDEAS.</h4>
 					<p>As a person with any form of disability or someone involved in the space, have your voice heard by people who care. Find others who feel the same, and work with them to build solutions to your problems.</p>
 					<p><br/><a href="http://voices.theseabilities.com" class="btn btn-theme">Contribute your thoughts</a></p>
 				</div>
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->


	<div id="twrap">

	</div> <!--/twrap>-->

{% endblock %}


